.container {
  &.container-list-users {
    padding-top: 165px;

    input{
      background: #FAFAFA;
      border: none;
      width: 93%;
      height: 40px;
      font-family: 'Arial';
      font-size: 20px;
      color: black;
    }

    input:focus{
      outline: none;
    }

    .user-list_content-search{
      text-align: left;
      padding-bottom: 30px;
    }
  }
  .user-list{
    display: grid;
    width: 100%;
    align-items: center;
    .post-list_content-bottom{

    }

	.user-data{
		display: grid;
		
    grid-template-areas: "name username email phone buttonEdit buttonDelete";
    
    padding: 4px;
	}
	
	.name{
		grid-area: name;
	}
	.username{
		grid-area: username;
	}
	.email{
		grid-area: email;	
	}
	.phone{
		grid-area: phone;
  }
  .buttonEdit{
		grid-area: buttonEdit;
  }
  .buttonDelete{
		grid-area: buttonDelete;
	}

  }
}


