<div class="container">

  <div class="jumbotron text-center">
    <button ng-click="main.getPosts()">Obtener usuarios</button>
	
	<br/>
	
	<button ng-click="main.onAddClicked()">AÑADIR usuario</button>
	
	<hr/>
	
	<table>
		<thead ng-show="existResults">
			<tr>
			  <th>Nombre</th>
			  <th>Username</th>
			  <th>email</th>
			  <th>Direcci&oacuten</th>
			</tr>
		</thead>
	  <tr ng-repeat="user in userList">
	  
		<td>{{ user.name }}</td>
		<td>{{ user.username }}</td>
		<td>{{ user.email }}</td>
		<td>
		{{ user.address.street }}, {{ user.address.city }}<br/>
		{{ user.address.zipcode }}
		
		</td>
	  </tr>
	</table>
  </div>
</div>
