<div class="container" ng-controller="Page2Controller as page2">

  <div class="">
    <h1>Añadir usuario</h1>
    
    
    <form class="user-form" >
		<div class="user-form_nombre">
			Nombre
			<input id="nombre" type="text" minlength="1" maxlength="150" ng-model="page2.name"
			required autofocus inputmode="latin-name">
		</div>   

		<div class="user-form_nombre-usuario">
			Nombre de Usuario
			<input id="userName" type="text" minlength="1" maxlength="150" ng-model="page2.username"
			required inputmode="latin-name">
		</div> 	

		<div class="user-form_email">
			Email
			<input id="email" type="text" required  ng-model="page2.email">
		</div> 

		<div class="user-form_telefono">
			Telefono
			<input id="phone" type="text" required  ng-model="page2.phone">
		</div> 

		<label style="color:red" ng-show="page2.show">Todos los campos han de ser informados.</label>

		</br>
		<button ng-click="page2.addUser()" >Añadir</button>


    </form>

  </div>
</div>