.create-post-container{
  height: 275px;
  .create-post-container_form{
    .create-post-container_inputs{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.create-post-container2{

}
