<div class="user-data">
    <div class="name">{{rowcontroller.user.name}}</div>
    <div class="username">{{rowcontroller.user.username}}</div>
    <div class="email">{{rowcontroller.user.email}}</div>
    <div class="phone">{{rowcontroller.user.phone}}</div>

<div class="buttonEdit user-list_content-bottom">
  <button  ng-click="rowcontroller.onEditClicked(rowcontroller.user)" type="button" class="btn btn-primary">EDITAR usuario</button>
</div>
<div class="buttonDelete user-list_content-bottom">
  <button  ng-click="rowcontroller.onDeleteClicked(rowcontroller.user.id)" type="button" class="btn btn-primary">BORRAR usuario</button>
</div>
</div>
</div>