<div class="content-all-header">
  <blog-header></blog-header>
  <blog-menu></blog-menu>
</div>
<div class="container container-list-users">

  <div class="jumbotron text-center">
    <button ng-click="userlist.getUsers()" ng-show="userlist.showRefreshUserListButton" type="button" class="btn btn-primary">REFRESCAR LISTADO DE usuarios</button>
    <br/>
    <button ng-click="userlist.onAddClicked()" type="button" class="btn btn-primary">AÑADIR usuario</button>
    <br/>
    
    <search class="searchIcon"  filter="userlist.fields" on-search="userlist.search(filter)" page-controller="userlist"></search>

    <hr/>
	
	<div class="user-list" ng-repeat ="user in userlist.userListResult | filter: userlist.fields" >
      <user-row-component user="user"></userRowComponent>
      </div>

  </div>
</div>
