<div class="content-all-header">
  <blog-header></blog-header>
  <blog-menu></blog-menu>
</div>
<div class="container container-list-users">

  <div class="jumbotron text-center">
    <button ng-click="userlist.getUsers()" ng-show="userlist.showRefreshUserListButton" type="button" class="btn btn-primary">REFRESCAR LISTADO DE usuarios</button>
    <br/>
    <button ng-click="userlist.onAddClicked()" type="button" class="btn btn-primary">AÑADIR usuario</button>
    <br/>
    
    <filter filter="$ctrl.fields"></filter>
    <hr/>
	
	<div class="user-list" ng-repeat ="user in userlist.userListResult | filter: user.search" >
      <user-row-component user="user"></userRowComponent>
      </div>

  </div>
</div>
