<div class="container" ng-controller="UserController as UserController">

  <div class="">
    <h1>Añadir usuario</h1>
    
    
    <form class="user-form" >
		<div class="user-form_nombre">
			Nombre
			<input id="nombre" type="text" minlength="1" maxlength="150" ng-model="UserController.user.name"
			required autofocus inputmode="latin-name">
		</div>   

		<div class="user-form_nombre-usuario">
			Nombre de Usuario
			<input id="userName" type="text" minlength="1" maxlength="150" ng-model="UserController.user.username"
			required inputmode="latin-name">
		</div> 	

		<div class="user-form_email">
			Email
			<input id="email" type="text" required  ng-model="UserController.user.email">
		</div> 

		<div class="user-form_telefono">
			Telefono
			<input id="phone" type="text" required  ng-model="UserController.user.phone">
		</div> 

		<label style="color:red" ng-show="UserController.showRedMessage">Todos los campos han de ser informados.</label>

		</br>
		<button ng-click="UserController.addUser()" ng-show="UserController.showAdd" >Añadir</button>
		<button ng-click="UserController.updateUser()" ng-show="UserController.showUpdate" >Actualizar</button>


    </form>

  </div>
</div>